{% assign thumbnail = include.thumbnail %}
{% assign title = include.title %}
{% assign desc = include.desc %}
{% assign date = include.date %}
{% assign pin = include.pin %}
{% assign url = include.url %}
{% assign categories = include.categories %}
{% assign tags = include.tags %}

{% assign desc_split = desc | split: '<pre class="lineno">' %}
{% assign desc_bak = "" %}
{% for descx in desc_split %}
	{% if desc_bak == '' %}{% assign desc_bak = descx %}{% continue %}{% endif %}
	{% assign back = descx | split: '<td class="codebox-content">' | last %}
	{% assign desc_bak = desc_bak | append: '</td><td class="codebox-content">' | append: back %}
{% endfor %}
{% assign desc = desc_bak %}

<div class="postbox"{% if pin == true %} pin><svg draw="star"></svg{% endif %}>
	<div class="postbox-content">
		{% if thumbnail and thumbnail != "" %}<div class="thumbnail" style="background-image: url({{ thumbnail }})"></div>{% endif %}
		<p class="postbox-title"><a href="{{ url }}">{{ title }}</a></p>
		<div class="postbox-desc"><span class="postbox-date" title="{{ date }}">{{ date | split: " +" | first }}</span>{% include strip-html.html content=desc %}</div>
	</div>
	{% if categories.size != 0 %}<div class="postbox-info">
		{% if categories.size != 0 %}<div class="postbox-categories">{% for category in categories %}
			<a href="/categories/{{ category | slugify }}/" class="postbox-category">{{ category }}</a>
		{% unless forloop.last %}>{% endunless %}{% endfor %}</div>{% endif %}
	</div>{% endif %}
</div>
