{% assign posts_bak = include.posts | sort: "last_modified_at" | reverse %}{% assign sorted = "" | split: "" %}
{% for post in posts_bak %}{% unless post.last_modified_at %}{% assign idx = 0 %}
	{% for x in sorted %}
		{% assign date1 = post.date | date: "%Y%m%d%H%M%S" %}
		{% assign date2 = x.last_modified_at | default: x.date | date: "%Y%m%d%H%M%S" %}
		{% if date1 > date2 %}{% break %}{% endif %}
		{% assign idx = idx | plus: 1 %}
	{% endfor %}
	{% assign sorted_1 = sorted | slice: 0, idx %}{% assign sorted_2 = sorted | slice: idx, sorted.size %}
	{% assign sorted = sorted_1 | push: post | concat: sorted_2 %}
{% endunless %}{% assign sorted = sorted | push: post %}{% endfor %}
