---
---

.highlight {
	background-color: var(--black);
	border: 1px solid var(--bd-color);
	border-radius: var(--gap-2);
	margin: var(--gap-4) 0;
	overflow: hidden;
} code:not(.codebox) {
	background-color: var(--black);
	border: 1px solid var(--bd-color);
	border-radius: .5em;
	padding: .15em var(--gap-4);
	color: var(--white);
} code.codebox {
	--padding: .5rem;
	--lineHeight: 1rem;

	position: relative;
	line-height: var(--lineHeight);
	white-space: nowrap;
/*
	max-width: calc(var(--main-width) - var(--sidebar-width))
*/
	& + .codebox {
		margin-top: 3rem;
	} .codebox-bg {
		position: absolute;
		top: var(--top, 0);
		left: 0;
		height: 0;
		width: 100%;
		z-index: 1;

		.codebox-highlight {
			background-color: var(--theme-color);
			position: absolute;
			display: block;
			height: var(--lineHeight);
			width: 100%;
			top: calc(var(--line, -10) * var(--lineHeight) + var(--padding)*1.5 + 1px);
			left: 0;
			opacity: .2;
		}
	} table {
		display: block;
		border-collapse: collapse;
		position: relative;
		z-index: 2;
	} caption {
		--lineHeight: 1.5em;

		display: flex;
		border-bottom: 1px dashed var(--bd-color);
		line-height: var(--lineHeight);

		button {
			background: transparent;
			display: flex;
			align-items: center;
			justify-content: center;
			box-sizing: content-box;
			border: 0;
			height: var(--lineHeight);
			width: var(--line-width, auto);
			cursor: pointer;
			--svg-draw-color: var(--white);

			&:hover {
				--svg-draw-color: var(--theme-color);
			} svg {
				padding: 2.5%;
				max-height: 1em;
				max-width: 1em;
			}
		} span {
			flex: 1;
			padding: 0 var(--padding);
			text-align: left;

			&:before {
				content: "</";
			} &:after {
				content: ">";
			}
		}
	} tbody {
		display: block;
	} tr {
		display: flex;
		position: relative;
		max-height: 50vh;
		overflow: hidden;
	} td {
		padding: var(--padding);
	} .codebox-line, caption button {
		border-right: 1px dashed var(--bd-color);
	} .codebox-line {
		padding: var(--padding);
		text-align: right;
	} .codebox-line pre {
		position: relative;
		top: var(--top, 0);
	} .codebox-content {
		flex: 1;
		overflow: auto;
	}
}
