---
---

#mode-toggle {
	--button-height: 2rem;
	--button-width: calc(var(--button-height) * 2);
	--box-offset: .125em;
	--box-height: calc(var(--button-height) - var(--box-offset)*2);

	background: transparent !important;
	border: 0 !important;
	display: flex;
	flex-direction: row;
	align-items: center;
	position: fixed;
	bottom: var(--gap);
	left: var(--gap);
	min-height: var(--button-height);

	button {
		background-color: var(--sub-bg-color);
		border: 1px solid var(--bd-color);
		border-radius: var(--button-height);
		position: relative;
		height: var(--button-height);
		width: var(--button-width);
		cursor: pointer;
		transition: background .5s;

		&:before {
			content: "";
			box-sizing: border-box;
			background-color: var(--white);
			display: block;
			border: 1px solid var(--bd-color);
			border-radius: var(--button-height);
			position: absolute;
			top: calc((var(--button-height) - var(--box-height)) / 2 - 1px);
			left: calc(var(--box-offset) - 1px);
			height: var(--box-height);
			width: var(--box-height);
			transition: left .5s;
			z-index: 2;
		} &:after {
			content: "Off";
			display: flex;
			align-items: center;
			padding: 0 calc(var(--box-offset) * 3);
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;
			color: var(--color);
			z-index: 1;
		} &[aria-checked="true"] {
			--sub-bg-color: var(--theme-bg-color);

			&:before {
				left: calc(100% - var(--box-height) - var(--box-offset) + 1px);
			} &:after {
				content: "On";
				left: 0;
				right: auto;
			}
		}
	}
} @media (min-width: 768px) {
	#mode-toggle {
		--button-height: 1.5rem;
		position: static;
	}
}



#searchbox {
	input {
		background: transparent;
		outline: 0;
		border: 0;
		padding: 0 var(--gap);
		height: 2em;
		width: 100%;
		font-size: 1rem;

		&:focus {
			border-color: var(--color);
		}
	}

	@media (min-width: 768px) {
		&.focus {
			border-color: var(--theme-color) !important;
		} input {
			background: transparent;
			padding: 0;
			font-size: .85rem;
		}
	}
}


#sidebar {
	#categorybox, #recent-posts {
		display: none;
	}
} #categorybox, #recent-posts {
	ul {
		list-style: none;
		padding: var(--gap-4) 0;

		a {
			padding: 0 var(--gap-2);
		}
	}
} @media (min-width: 768px) {
	#sidebar {
		#categorybox, #recent-posts {
			display: block;
		}
	} .sidebar {
		#categorybox, #recent-posts {
			ul a {
				padding: 0;
			} .postbox-date {
				display: none;
			}
		}
	}
}



#fn-preview {
	display: none;

	&> p {
		display: flex;
		gap: .25em;
		line-height: var(--lineHeight);

		&:empty {
			display: none;
		} &:before {
			content: "[" attr(fnid) "]";
			color: var(--theme-color);
			white-space: nowrap;
		}
	}

	@media (min-width: 768px) {
		display: block;
	}
}



#tocbox {
	--plus: 1;
	--height: var(--m-height);
	--toc-height: calc(var(--lineHeight) + var(--gap-4) + var(--height));

	height: var(--toc-height);
	overflow: hidden;
	transition: height .5s;
	font-size: .85rem;

	&.hide {
		height: var(--lineHeight);

		.module-title button:after {
			top: .125rem;
			transform: rotate(-135deg);
		}
	}

	.module-title {
		button {
			background: transparent;
			border: 0;
			padding-left: calc(var(--gap) * var(--plus));
			padding-right: var(--gap-2);
			height: var(--lineHeight);
			width: 100%;
			cursor: pointer;
			text-align: left;
			transition: color .1s;
			font-weight: bold;

			&:after {
				content: "";
				border: 2px solid var(--color);
				border-top: 0;
				border-left: 0;
				display: inline-block;
				margin-left: .35em;
				position: relative;
				top: -.125rem;
				height: .35em;
				width: .35em;
				transform: rotate(45deg);
				transition: border .1s, transform .5s, top .5s;
			} &:hover {
				--color: var(--theme-color);
			}
		}
	} ul {
		counter-reset: toc;
		list-style: none;

		li {
			--lv: 0;
			counter-increment: toc;

			a {
				display: flex;
				gap: .25em;
				padding-right: var(--gap);
				padding-left: calc(var(--gap) * (var(--lv) + var(--plus)));

				&:before {
					content: counter(toc) ". ";
				} &:hover, &[select] {
					--color: var(--theme-color);
				}
			} li {
				--lv: 1;
			} li li {
				--lv: 2;
			} li li li {
				--lv: 3;
			} li li li li {
				--lv: 4;
			} li li li li li {
				--lv: 5;
			}
		}
	}
} @media (min-width: 768px) {
	#tocbox {
		--plus: 0;
		--height: var(--ul-height);

		.module-title {
			button {
				padding: 0;
			}
		} ul ul {
			height: 0px;
			overflow: hidden;
			transition: height .5s;

			&.open {
				height: var(--ul-height);
			}
		} a {
			padding-right: 0 !important;
		}
	}
}
