---
---

#post {
	padding-top: var(--gap-2);
} #post-title {
} #post-info {
	border-bottom: 1px solid var(--bd-color);
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	padding: var(--gap) 0;
} #post-datebox {
	display: flex;
	flex-direction: column;
	text-align: right;
	color: var(--sub-color);
} #post-categories {
	flex: 1;
	line-height: var(--lineHeight);
	white-space: nowrap;

	svg {
		margin-right: .25em;
		max-height: 1em;
		max-width: 1em;
	}
} #post-tags {
	margin: var(--gap2) 0 var(--gap);
} #post-group {
	background-color: var(--sub-bg-color);
	border: 1px solid var(--bd-color);
	border-radius: .5em;
	margin-top: var(--gap);
	padding: .25em .5em;

	#post-group-info {
		padding-left: 1em;
		font-size: .85em;
		color: var(--sub-color);
	} ul {
		border-top: 1px dashed var(--bd-color);
		margin-top: .25em;
		padding-top: .25em;
		list-style: none;
		counter-reset: toc;
	} a {
		counter-increment: toc;
		line-height: var(--lineHeight);

		&:before {
			content: counter(toc) ". ";
			margin-right: .25em;
		}
	} .postbox-date {
		display: none;
	}
} #post-notice, .post-notice {
	--border-length: 1.5rem;

	border: 3px solid var(--theme-color);
	position: relative;
	margin-bottom: var(--gap3);
	padding: .5em;

	&:before, &:after {
		content: "";
		display: block;
		position: absolute;
		left: var(--border-length);
		border-top: 4px solid var(--bg-color);
		height: 0;
		width: calc(100% - var(--border-length) * 2);
	} &:before {
		top: -3.5px;
	} &:after {
		bottom: -3.5px;
	}

	&.success {
		border-color: var(--success-color);
	} &.warning {
		border-color: var(--warning-color);
	} &.error {
		border-color: var(--error-color);
	} &.danger {
		border-color: var(--danger-color);
	}
} #post-content {
	--lineHeight: 1.6rem;

	margin-bottom: var(--gap3);
	padding-top: 1em;
	line-height: var(--lineHeight);

	.imgbox {
		--left: calc(var(--gap) * -1);

		border: 1px solid var(--bd-color);
		display: flex;
		align-items: flex-end;
		gap: var(--gap-4);
		overflow: auto;

		img {
			max-height: 500px;
			max-width: 90%;
		}
	} img {
		max-height: 75vh;
		cursor: pointer;
	} .post-infobox {
		--height: 5em;

		display: flex;
		gap: 1em;
		box-sizing: content-box;
		border: 1px solid var(--bd-color);
		padding: .5em;
		height: var(--height);
		color: var(--color	);

		&:hover {
			text-decoration: none;
		}

		.thumbnail {
			display: block;
			height: var(--height);
			width: var(--height);
			min-width: var(--height);
		} .infobox-text {
			flex: 1;
			display: flex;
			flex-direction: column;
			overflow: hidden;

			&> * {
				display: block;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			} .infobox-title {
				flex: 1;
				font-weight: bold;
			} .infobox-desc {
				color: var(--sub-color);
			} .infobox-date {
				color: var(--sub-color);
				font-size: .85em;
			}
		}
	}
} #post-content, #about {
	h1, h2, h3, h4, h5, h6 {
		margin: var(--gap3) 0 .5em;
	} p, .highlight {
		margin-top: var(--gap-2);
	} p:not(#post-notice):not(.post-notice), span, b, strong {
		&.success {
			color: var(--success-color);
		} &.warning {
			color: var(--warning-color);
		} &.error {
			color: var(--error-color);
		} &.danger {
			color: var(--danger-color);
		}
	} ul, ol {
		padding-left: 1em;
	} .task-list {
		list-style: none;
	} .task-list-item-checkbox {
		margin-right: .5em;
	} .emoji {
		max-height: 1em;
		max-width: 1em;
	} dl {
		dt {
			font-weight: bold;
		} dd {
			display: flex;
			gap: .25em;
			padding-left: .5em;

			&:before {
				content: "-";
				display: inline;
			}
		}
	} table:not(.codebox-table) {
		display: block;
		min-width: 100%;
		max-width: 100%;
		border-collapse: collapse;
		white-space: nowrap;
		overflow: auto;

		thead {
			background-color: var(--theme-bg-color);

			tr> * {
				--bd-color: var(--bg-color);
			}
		} tbody {
			tr> *:not(:first-child) {
				--bd-color: var(--theme-bg-color);
			}
		} tr {
			&:not(:first-child) {
				border-top: 1px solid var(--theme-bg-color);
			} &> * {
				padding: var(--gap-4) var(--gap);

				&:not(:first-child) {
					border-left: 1px dashed var(--bd-color);
				}
			}
		}
	} blockquote {
		border-left: 3px solid var(--theme-color);
		padding-left: .5em;

		&.success {
			border-color: var(--success-color);
		} &.warning {
			border-color: var(--warning-color);
		} &.error {
			border-color: var(--error-color);
		} &.danger {
			border-color: var(--danger-color);
		}
	} iframe {
		width: 100%;

		&[src^="https://www.youtube"] {
			aspect-ratio: 16 / 9;
		}
	}
}
