---
---

#post {
	padding-top: var(--gap-2);
} #post-title {
} #post-info {
	border-bottom: 1px solid var(--bd-color);
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: flex-end;
	padding: var(--gap) 0;
} #post-datebox {
	display: flex;
	flex-direction: column;
	text-align: right;
	color: var(--sub-color);
} #post-categories {
	flex: 1;
	display: flex;
	align-items: center;
	gap: .25em;
	line-height: var(--lineHeight);
	white-space: nowrap;

	svg {
		margin-right: .25em;
		max-height: 1em;
		max-width: 1em;
	}
} #post-tags {
	display: flex;
	flex-wrap: wrap;
	gap: var(--gap-2);
	margin: var(--gap2) 0 var(--gap);
} #post-group {
	background-color: var(--sub-bg-color);
	border: 1px solid var(--bd-color);
	border-radius: .5em;
	margin-top: var(--gap);
	padding: .25em .5em;

	ul {
		border-top: 1px dashed var(--bd-color);
		margin-top: .25em;
		padding-top: .25em;
		list-style: none;
		counter-reset: toc;
	} a {
		counter-increment: toc;
		line-height: var(--lineHeight);

		&:before {
			content: counter(toc) ". ";
			margin-right: .25em;
		}
	} .postbox-date {
		display: none;
	}
} #post-content {
	--lineHeight: 1.6rem;

	margin-bottom: var(--gap3);
	padding-top: 1em;
	line-height: var(--lineHeight);

	.imgbox {
		--left: calc(var(--gap) * -1);

		border: 1px solid var(--bd-color);
		display: flex;
		align-items: flex-end;
		gap: var(--gap-4);
		position: relative;
		left: var(--left);
		width: calc(100% + var(--left) * -2);
		overflow: auto;

		img {
			max-height: 500px;
			max-width: 90%;
		}
	}

	h1, h2, h3, h4, h5, h6 {
		margin: var(--gap3) 0 .5em;
	} p {
		margin-top: var(--gap-2);
	} img {
		border: 1px solid var(--bd-color);
		cursor: pointer;
	} ul, ol {
		padding-left: 1em;
	}
}
