---
---

#main {
	--sidebar-zIndex: 2;
	--page-zIndex: 1;

	display: flex;
	flex-direction: column;

	&[sidebar="true"] {
		&> .padding {
			padding-right: var(--sidebar-width);
		}
	}
} #sidebar {
	border-bottom: 1px solid var(--bd-color);
	position: relative;
	z-index: var(--sidebar-zIndex);

	.module {
		--lineHeight: 1.4rem;

		background-color: var(--sub-bg-color);
		line-height: var(--lineHeight);

		&:not(:last-child) {
			border-bottom: 1px dashed var(--bd-color);
		}
	}
} #sidebar, #tail-content, #tail-sidebar {
	.module-title {
		font-weight: bold;
	}
} #page-title {
	text-align: center;
	margin: .25em 0 1em;
	padding-bottom: 1em;

	&:not(.no-border) {
		border-bottom: 1px solid var(--bd-color);
	}
} #page-info {
	border-bottom: 1px solid var(--bd-color);
	display: flex;
	justify-content: center;
	padding-bottom: var(--gap-2);
} #page, #tail-content, #tail-sidebar {
	margin: 0 auto;
	padding: 0 var(--gap);
	width: 100%;
	max-width: var(--width);
	position: relative;
	z-index: var(--page-zIndex);
	overflow: hidden;
} #page {
	padding-top: var(--gap);
} #post, .postbox {
	a {
		--color: var(--theme-color);

		&:hover {
			text-decoration: underline;
		}
	}
} #tail {
	display: flex;
	flex-direction: column;
} #tail> * {
	--lineHeight: 1.4rem;

	&:before {
		content: "";
		display: block;
		border-top: 1px dashed var(--bd-color);
		position: absolute;
		top: 0;
		left: var(--gap);
		width: calc(100% - var(--gap) * 2);
		height: 0;
	}

	.module {
		border: 1px solid var(--bd-color);
		border-radius: .25em;
		margin: var(--gap3) auto var(--gap);
		line-height: var(--lineHeight);
	} .module-title {
		background-color: var(--sub-bg-color);
		border-bottom: 1px solid var(--bd-color);
		padding: var(--gap-4) var(--gap-2);
	}
} #tail-sidebar {
	margin-top: var(--gap3);

	&:before {
		border-top-style: solid;
	}
} .postbox-container {
	list-style: none;
} .postbox {
	--lineNumber: 3;

	display: flex;
	flex-direction: column;
	gap: var(--gap-2);
	position: relative;
	margin: var(--gap) 0 var(--gap2);
	padding-bottom: var(--gap);
	border-bottom: 1px solid var(--bd-color);

	&[pin] {
		svg[draw="star"] {
			--svg-draw-color: var(--theme-color);

			position: absolute;
			top: 0;
			right: 0;
			max-height: 1.2em;
			max-width: 1.2em;
		} .postbox-title {
			padding-right: 1.5em;
		} .thumbnail + .postbox-title {
			padding-right: 0;
		}
	}
} .simple-postbox {
	a {
		display: flex;
		align-items: center;

		&[select] {
			--color: var(--theme-color);
		} span:first-child {
			flex: 1;
			display: block;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}
	} .postbox-date {
		margin: 0;
		display: flex;
		flex-wrap: nowrap;
		gap: .25em;

		span:last-child {
			display: none;
		}
	}
} .postbox-content {
	line-height: var(--lineHeight);

	&:after {
		content: "";
		display: block;
		clear: both;
	} &> *:not(.thumbnail) {
		display: -webkit-box;
		-webkit-line-clamp: var(--lineNumber);
		-webkit-box-orient: vertical;
		overflow: hidden;
		max-height: calc(var(--lineHeight) * var(--lineNumber));
	}

	.thumbnail {
		--height: calc(var(--lineHeight) * var(--lineNumber) + var(--lineHeight) + var(--gap-2));

		float: right;
		background-size: cover;
		background-repeat: no-repeat;
		border: 1px solid var(--bd-color);
		margin-left: .25em;
		height: var(--height);
		width: var(--height);
	}
} .postbox-title {
	--lineNumber: 2;
	margin-bottom: var(--gap-2);
	font-size: 1.15em;
	font-weight: bold;
} .postbox-info {
	display: flex;
	flex-direction: column;
	gap: var(--gap-4);
	line-height: var(--lineHeight);
} .postbox-categories {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: .25em;

	svg {
		margin-right: .25em;
		max-height: 1em;
		max-width: 1em;
	}
} .postbox-tags {
	display: flex;
	gap: var(--gap-2);
} .postbox-date {
	margin-right: .25em;
	color: var(--sub-color);
} #comment {
	border: 0 !important;
} @media (min-width: 768px) {
	#main-content, #tail {
		display: flex;
		flex-direction: row-reverse;
		align-items: flex-start;
	} #tail {
		flex-direction: row;
	} #sidebar, #tail-sidebar {
		border: 0;
		margin-top: var(--gap4);
		padding: 0  var(--gap-2);
		position: sticky;
		top: var(--gap2);
		width: var(--sidebar-width);

		.module {
			background-color: transparent;
			border: 0 !important;
			border-left: 1px solid var(--bd-color) !important;
			padding: 0 var(--gap-2);
			font-size: .85rem;
		} .module + .module {
			margin-top: var(--gap2);
		} .module-title {
			border-bottom: 1px dashed var(--bd-color);
			background: transparent;
			margin-bottom: var(--gap-4);
			padding: 0;
			font-size: 1rem;
		}
	} #tail-sidebar {
		display: block;
		margin: 0;

		&:before {
			display: none;
		}
	} #page, #tail-content {
		flex: 1;
	} #tail-content:before {
		border-top-style: solid;
	} .simple-postbox .postbox-date span:last-child {
		display: inline;
	}
}
