---
layout: page
sidebar:
- mode-toggle
- search
- recent-posts
---

{% assign pagesname_bak = page.url | split: "/" | slice: 1 | first %}
{% capture pagesname %}{% if pagesname_bak == "categories"%}category{% elsif pagesname_bak == "tags" %}tag{% endif %}{% endcapture%}
{% assign pagename = page.url | split: "/" | slice: 2 | first %}
{% assign displayname = page.autopages.display_name %}

{% assign posts = site[pagesname_bak][displayname] %}
{% include posts-sort.html posts=posts page=pagesname displayname=displayname %}
{% assign page_info = site.data[pagesname_bak][displayname] %}
{% unless page_info %}
	{% assign parentCat = site[pagesname_bak][displayname][0].categories[0] %}
	{% assign page_info = site.data[pagesname_bak][parentCat] %}
{% endunless %}
<h1 id="page-title"{% if page_info %} class="no-border"{% endif %}>{% if pagesname_bak == "categories" and displayname == "No Category" %}<script type="text/javascript">
	document.title = `{{ displayname }} | {{ site.title }}`;
	html.querySelector("#page-title").innerText = "{{ displayname }}";
</script>{% else %}{{ pagesname | capitalize }} - {{ displayname }}{% endif %}</h1>
{% if page_info %}<div id="page-info">{{ page_info }}</div>{% endif %}
<div id="{{ pagesname }}">
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/home.css"/>
	{% assign end = paginator.page | times: paginator.per_page %}
	{% assign start = end | minus: paginator.per_page | plus: 1 %}
	{% if paginator.total_posts < end %}{% assign end = paginator.total_posts %}{% endif %}
	<span id="posts-range">{{ start }}~{{ end }}/{{ paginator.total_posts }}</span>
	<ul class="postbox-container">{% for i in (start..end) %}{% assign idx = i | minus: 1 %}{% assign post = posts[idx] %}
		{% assign pinned = false %}{% assign target = pagesname | append: "_pin" %}
		{% if post[target] == true or post[target] contains displayname %}{% assign pinned = true %}{% endif %}
		<li class="postbox-wrapper">{% include create-postbox.html post=post pin=pinned %}</li>
	{% endfor %}</ul>
	{% include paginate.html %}
</div>
