{% assign limit = 6 %}{% if site.categories.size != 0 and page.categories[0] != "No Category" %}<div id="categorybox" class="module">
	{% assign last_category = page.categories | last %}
	{% assign posts = site.categories[last_category] %}
	{% for post in posts %}
		{% if post.url == page.url %}{% assign idx = forloop.index0 %}{% endif %}
	{% endfor %}
	{% assign end = limit | divided_by: 2 | plus: idx | minus: 1 %}{% assign start = end | minus: limit | plus: 1 %}
	{% if limit < posts.size %}
		{% if start < 0 %}{% assign start = 0 %}
		{% elsif posts.size <= end %}{% assign start = posts.size | minus: 1 | minus: limit | plus: 1 %}{% endif %}
		{% assign posts = posts | slice: start, limit %}
	{% endif %}{% assign end = start | plus: limit | minus: 1 %}
	<p class="module-title">{% for category in page.categories %}
		<a href="/categories/{{ category | slugify }}">{{ category }}</a>{% unless forloop.last %} > {% endunless %}
	{% endfor %}</p>
	<ul>{% for post in posts %}
		{% include create-simple-postbox.html post=post %}
	{% endfor %}</ul>
</div>{% endif %}
